In [1]:
import numpy as np
import pandas as pd

In [9]:
# Creating a series from a python List
myIndex = ["USA", "Canada", "England"]
myData = [1776, 1867, 1821]

In [11]:
# Just a numeric index
myser = pd.Series(data =myData)
print(myser)

0    1776
1    1867
2    1821
dtype: int64

In [15]:

# Now the named index
myser = pd.Series(data = myData, index = myIndex)
print(myser)

USA        1776
Canada     1867
England    1821
dtype: int64

In [ ]:

# Creating a series from NumPy array
# First create a NumPy array using the earlier list
ran_data = np.random.randint(0, 100, 4)
# print(ran_data)

names = ["name1", "name2", "name3", "name4"]
ages = pd.Series(ran_data, names)
print(ages)

In [43]:

# Creating a series using a dictionary
dict = {"name" + str(i) : j for i, j in enumerate(np.random.randint(40, 60, 5).tolist(), 1)}
dict2 = {"name" + str(i) : j for i, j in enumerate(np.random.randint(40, 60, 6).tolist(), 1)}
temp = pd.Series(dict)
temp2 = pd.Series(dict2)
temp

name1    50
name2    41
name3    59
name4    50
name5    53
dtype: int64

In [ ]:
# Be careful with potential errors! 

# Wrong Name
print(temp['name6'])

# Extra space
print(temp['name 5'])

# Case mistake 
print(temp['Name5'])

In [41]:

# can Perform Operation Broadcasted across entire Series
# print(temp * 2)
print(temp / 10)

name1    4.7
name2    4.4
name3    5.2
name4    5.3
name5    5.1
dtype: float64

In [47]:

# Pandas informing about pd.NaN values
print(temp + temp2)

name1    104.0
name2     96.0
name3    108.0
name4     95.0
name5     99.0
name6      NaN
dtype: float64

In [49]:

# Fill np.NaN values using any matching data type value you want
print(temp.add(temp2, fill_value = 0))

name1    104.0
name2     96.0
name3    108.0
name4     95.0
name5     99.0
name6     49.0
dtype: float64