In [1]:
import pandas as pd
import numpy as np

1. Write a Pandas program to read a csv file from a specified source and print the
first 5 rows.
(Diamonds.csv)

In [3]:
df = pd.read_csv("diamonds.csv")

df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

2. Write a Pandas program to read a dataset from diamonds DataFrame and
modify the default columns values and print the first 6 rows.

In [5]:
df = df.rename(columns={
    "carat" : "Carat",
    "cut" : "Cut",
    "color" : "Color",
    "clarity" : "Clarity",
    "depth" : "Depth"
})
df.head(6)

   Carat        Cut Color Clarity  Depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

3. Write a Pandas program to select a series from diamonds DataFrame. Print
the content of the series.

In [7]:
carat = df["Carat"]
print(carat)
print(type(carat))

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: Carat, Length: 53940, dtype: float64
<class 'pandas.core.series.Series'>

4. Write a Pandas program to create a new 'Quality -color' Series (use bracket
notation to define the Series name) of the diamonds DataFrame.

In [9]:

df["Quality-color"] = df["Carat"].astype(str)  + " - " + df.Color
df.head()

,Carat,Cut,Color,Clarity,Depth,table,price,x,y,z,Quality-color
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.23 - E
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.21 - E
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.23 - E
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.29 - I
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.31 - J

5. Write a Pandas program to find the number of rows and columns and data
type of each column of diamonds Dataframe.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Carat          53940 non-null  float64
 1   Cut            53940 non-null  object
 2   Color          53940 non-null  object
 3   Clarity        53940 non-null  object
 4   Depth          53940 non-null  float64
 5   table          53940 non-null  float64
 6   price          53940 non-null  int64
 7   x              53940 non-null  float64
 8   y              53940 non-null  float64
 9   z              53940 non-null  float64
 10  Quality-color  53940 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 4.5+ MB

6. Write a Pandas program to summarize only 'object' columns of the diamonds
Dataframe.

In [13]:
df.select_dtypes(include=['object']).describe()

          Cut  Color Clarity Quality-color
count   53940  53940   53940         53940
unique      5      7       8          1468
top     Ideal      G     SI1       0.3 - G
freq    21551  11292   13065           608

7. Write a Pandas program to rename two of the columns of the diamonds
Dataframe.

In [25]:
# renamed three
df = df.rename(columns = {
    "x" : "x-len",
    "y" : "y-len",
    "z" : "z-len"
})
df.head()
df = pd.read_csv("diamonds.csv")

8. Write a Pandas program to rename all the columns of the diamonds
Dataframe.

In [28]:
tmdf = df.copy()
tmdf.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(tmdf.columns)
del tmdf

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

9. Write a Pandas program to remove the second column of the diamonds
Dataframe.

In [31]:
tmdf = df.copy()
tmdf.drop([tmdf.columns[1]], axis = 1, inplace = True)
print(tmdf)
del tmdf

       carat color clarity  depth  table  price     x     y     z
0       0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

10. Write a Pandas program to remove multiple columns at once of the diamonds
Dataframe.

In [41]:
tmdf = df.copy()
tmdf.drop(["carat", "color", "depth", "table"], axis = 1, inplace = True)
print(tmdf)
del tmdf

             cut clarity  price     x     y     z
0          Ideal     SI2    326  3.95  3.98  2.43
1        Premium     SI1    326  3.89  3.84  2.31
2           Good     VS1    327  4.05  4.07  2.31
3        Premium     VS2    334  4.20  4.23  2.63
4           Good     SI2    335  4.34  4.35  2.75
...          ...     ...    ...   ...   ...   ...
53935      Ideal     SI1   2757  5.75  5.76  3.50
53936       Good     SI1   2757  5.69  5.75  3.61
53937  Very Good     SI1   2757  5.66  5.68  3.56
53938    Premium     SI2   2757  6.15  6.12  3.74
53939      Ideal     SI2   2757  5.83  5.87  3.64

[53940 rows x 6 columns]

11. Write a Pandas program to remove multiple rows at once (axis=0 refers to
rows) from diamonds dataframe.

In [44]:
tmdf = df.copy()
# ------------------------------------------------------------
tmdf.drop(list(range(4, tmdf.shape[0])), axis = 0, inplace = True)
print(tmdf)
# ------------------------------------------------------------
del tmdf

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63

12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a
Series) of diamonds Dataframe.

In [52]:
tmdf = df.copy()
# ------------------------------------------------------------
ser = tmdf['cut'].copy()
ser.sort_values(ascending = True, inplace = True)
print(ser)
del ser
# ------------------------------------------------------------
del tmdf

3850          Fair
51464         Fair
51466         Fair
10237         Fair
10760         Fair
           ...
7402     Very Good
43101    Very Good
16893    Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53940, dtype: object

13. Write a Pandas program to sort the 'price' Series in descending order (returns
a Series) of diamonds Dataframe.

In [58]:
tmdf = df.copy()
# ------------------------------------------------------------
ser = tmdf['cut'].copy()
ser.sort_values(ascending = False, inplace = True)
print(ser)
del ser
# ------------------------------------------------------------
del tmdf

8748     Very Good
23064    Very Good
23058    Very Good
31236    Very Good
19154    Very Good
           ...
5595          Fair
5594          Fair
5585          Fair
5576          Fair
21921         Fair
Name: cut, Length: 53940, dtype: object

14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat'
Series in ascending and descending order.

In [64]:
tmdf = df.copy()
# ------------------------------------------------------------
ser = tmdf['carat'].copy()
ser.sort_values(ascending = True, inplace = True)
print(ser)
print("\n")
ser.sort_values(ascending = False, inplace = True)
print(ser)
del ser
# ------------------------------------------------------------
del tmdf

31593    0.20
31597    0.20
31596    0.20
31595    0.20
31594    0.20
         ...
25999    4.01
25998    4.01
27130    4.13
27630    4.50
27415    5.01
Name: carat, Length: 53940, dtype: float64


27415    5.01
27630    4.50
27130    4.13
25998    4.01
25999    4.01
         ...
31601    0.20
31598    0.20
14       0.20
31599    0.20
31593    0.20
Name: carat, Length: 53940, dtype: float64

15. Write a Pandas program to filter the DataFrame rows to only show carat
weight at least 0.3

In [69]:
tmdf = df.copy()
# ------------------------------------------------------------
condition = tmdf.carat >= 0.3
new_df = tmdf[condition]
print(new_df)
# ------------------------------------------------------------
del tmdf

       carat        cut color clarity  depth  table  price     x     y     z
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
10      0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73
13      0.31      Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
15      0.32    Premium     E      I1   60.9   58.0    345  4.38  4.42  2.68
16      0.30      Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[52341 rows x 10 columns]

16. Write a Pandas program to convert a python list to pandas series.

In [72]:
li = [1, 2, 3, 4, 5]
ser = pd.Series(li)
print(ser, type(ser))

0    1
1    2
2    3
3    4
4    5
dtype: int64 <class 'pandas.core.series.Series'>

17. Write a Pandas program to find the details of the diamonds where length>5,
width>5 and depth>5.

In [77]:
tmdf = df.copy()
# ------------------------------------------------------------
condition = (tmdf.x > 5) & (tmdf.y > 5) & (tmdf.z > 5)
new_df = tmdf[condition]
print(new_df)
# ------------------------------------------------------------
del tmdf

       carat        cut color clarity  depth  table  price     x      y      z
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70   5.36
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95   5.23
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02   5.36
...      ...        ...   ...     ...    ...    ...    ...   ...    ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97   5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47   5.16
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06

[1457 rows x 10 columns]

18. Write a Pandas program to find the diamonds that are either Premium or
Ideal.

In [86]:
tmdf = df.copy()
# ------------------------------------------------------------
condition = (tmdf['cut'] == "Ideal") | (tmdf['cut'] == "Premium")
new_df = tmdf[condition]
print(new_df)
# ------------------------------------------------------------
del tmdf

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

19. Write a Pandas program to find the diamonds that are with a Fair or Good or
Premium.

In [91]:
tmdf = df.copy()
# ------------------------------------------------------------
condition = tmdf['cut'].isin(['Fair', 'Good', 'Premium'])
new_df = tmdf[condition]
print(new_df)
# ------------------------------------------------------------
del tmdf

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53936   0.72     Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[20307 rows x 10 columns]

20. Write a Pandas program to display all column labels of diamonds DataFrame.

In [94]:
tmdf = df.copy()
# ------------------------------------------------------------
print(tmdf.columns)
# ------------------------------------------------------------
del tmdf

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

21. Write a Pandas program to read only a subset of 3 rows from diamonds
DataFrame.

In [99]:
tmdf = df.copy()
# ------------------------------------------------------------
subset = tmdf.sample(3)
print(subset)
# ------------------------------------------------------------
del tmdf

       carat    cut color clarity  depth  table  price     x     y     z
35141   0.41  Ideal     D     VS2   61.2   57.0    889  4.78  4.82  2.94
36866   0.42  Ideal     E     VS2   62.4   55.0    958  4.79  4.83  3.00
39903   0.35  Ideal     H      IF   61.7   54.0   1103  4.55  4.53  2.80

22. Write a Pandas program to iterate through diamonds DataFrame.

In [115]:
tmdf = df.copy()
# ------------------------------------------------------------
for index, seris in tmdf.iloc[:11 , : ].iterrows():
    print(index, seris)
# ------------------------------------------------------------
del tmdf

0 carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table       55.0
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object
1 carat         0.21
cut        Premium
color            E
clarity        SI1
depth         59.8
table         61.0
price          326
x             3.89
y             3.84
z             2.31
Name: 1, dtype: object
2 carat      0.23
cut        Good
color         E
clarity     VS1
depth      56.9
table      65.0
price       327
x          4.05
y          4.07
z          2.31
Name: 2, dtype: object
3 carat         0.29
cut        Premium
color            I
clarity        VS2
depth         62.4
table         58.0
price          334
x              4.2
y             4.23
z             2.63
Name: 3, dtype: object
4 carat      0.31
cut        Good
color         J
clarity     SI2
depth      63.3
table      58.0
price       335
x          4.34
y          4.35
z          2.75
Name: 4, dtype: object
5 carat           0.24
cut        Very Good
color              J
clarity         VVS2
depth           62.8
table           57.0
price            336
x               3.94
y               3.96
z               2.48
Name: 5, dtype: object
6 carat           0.24
cut        Very Good
color              I
clarity         VVS1
depth           62.3
table           57.0
price            336
x               3.95
y               3.98
z               2.47
Name: 6, dtype: object
7 carat           0.26
cut        Very Good
color              H
clarity          SI1
depth           61.9
table           55.0
price            337
x               4.07
y               4.11
z               2.53
Name: 7, dtype: object
8 carat      0.22
cut        Fair
color         E
clarity     VS2
depth      65.1
table      61.0
price       337
x          3.87
y          3.78
z          2.49
Name: 8, dtype: object
9 carat           0.23
cut        Very Good
color              H
clarity          VS1
depth           59.4
table           61.0
price            338
x                4.0
y               4.05
z               2.39
Name: 9, dtype: object
10 carat       0.3
cut        Good
color         J
clarity     SI1
depth      64.0
table      55.0
price       339
x          4.25
y          4.28
z          2.73
Name: 10, dtype: object

23. Write a Pandas program to drop all non-numeric columns from diamonds
DataFrame

In [ ]:
tmdf = df.copy()
# ------------------------------------------------------------
tmdf = tmdf.drop(df.inf)
# ------------------------------------------------------------
del tmdf