In [11]:
import sqlite3

In [13]:
conn = sqlite3.connect("Hands_on_1_student_data.db")
cursor = conn.cursor()

In [45]:
cursor.execute("DROP TABLE IF EXISTS courses")
cursor.execute("DROP TABLE IF EXISTS students")
cursor.execute("""
CREATE TABLE IF NOT EXISTS students(
id INTEGER PRIMARY KEY,
name TEXT,
age INTEGER,
grade TEXT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS courses(
c_id INTEGER PRIMARY KEY,
c_name TEXT,
instructor TEXT
)
""")

print("tables created")

cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (1, 'name1', 23, 'A'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (2, 'name2', 24, 'B'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (3, 'name3', 25, 'C'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (4, 'name4', 26, 'B'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (5, 'name5', 27, 'A'))

cursor.execute("INSERT INTO courses (c_id, c_name, instructor) VALUES (?, ?, ?)", (1, 'course1', 'abc'))
cursor.execute("INSERT INTO courses (c_id, c_name, instructor) VALUES (?, ?, ?)", (2, 'course2', 'xyz'))
cursor.execute("INSERT INTO courses (c_id, c_name, instructor) VALUES (?, ?, ?)", (3, 'course3', 'pqr'))
conn.commit()

tables created

In [55]:
cursor.execute("SELECT * FROM students WHERE grade = 'A'")
rows = cursor.fetchall()
rows

[(1, 'name1', 23, 'A'), (5, 'name5', 27, 'A')]

In [57]:
cursor.execute("SELECT c_name, instructor FROM courses ORDER BY c_name")
rows = cursor.fetchall()
rows

[('course1', 'abc'), ('course2', 'xyz'), ('course3', 'pqr')]

In [61]:
cursor.execute("UPDATE students SET name = 'Mayur', age = 24 WHERE id = 1")
cursor.execute("SELECT * FROM students WHERE id = 1")
row = cursor.fetchall()
row

[(1, 'Mayur', 24, 'A')]

In [67]:
cursor.execute("UPDATE courses SET instructor='Sam' WHERE c_id=2")
cursor.execute("SELECT * FROM courses")
row = cursor.fetchall()
row

[(1, 'course1', 'abc'), (2, 'course2', 'Sam'), (3, 'course3', 'pqr')]

In [69]:
cursor.execute("DELETE FROM students WHERE id = 3")
cursor.execute("SELECT * FROM students")
cursor.fetchall()

[(1, 'Mayur', 24, 'A'),
 (2, 'name2', 24, 'B'),
 (4, 'name4', 26, 'B'),
 (5, 'name5', 27, 'A')]

In [71]:
cursor.execute("DROP TABLE IF EXISTS courses")
cursor.execute("DROP TABLE IF EXISTS students")

# SESSION MAKER

In [14]:
import os 
filename = "employees.db"
current_directory = os.getcwd()
file_path = os.path.join(current_directory, filename)

if os.path.exists(file_path):
    try: 
        os.remove(file_path)
        print(f"file got deleted")
    except Exception as error:
        print(f"An error {error} occured while deleting the file")
else: 
    print("File was not there")
print(f"{file_path}")

File was not there
C:\Users\DAI.STUDENTSDC\Desktop\DAC 2024\Day12\employees.db

In [30]:
from sqlalchemy import create_engine, Column, Integer, String, Float
# from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [32]:
engine = create_engine('sqlite:///employees.db', echo = True)
Base = declarative_base()

In [36]:
class Employee(Base):
    __tablename__ = 'employees'
    employee_id = Column(Integer, primary_key = True)
    name = Column(String, nullable= False)
    position = Column(String, nullable = False)
    salary = Column(Float, nullable = False)

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_16156\2419380684.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Employee, and will be replaced in the string-lookup table.
  class Employee(Base):

InvalidRequestError: Table 'employees' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [38]:
def create_table():
    Base.metadata.create_all(engine)
    print("Table 'employees' created successfully.")

def insert_sample_data():
    Session = sessionmaker(bind = engine)
    session = Session()

    employees = [
        Employee(name = "Mayura", position = 'Engineer', salary = 70000),
        Employee(name = "Mayuresh", position = 'Manager', salary = 85000),
        Employee(name = "Sughandha", position = 'Tech', salary = 50000),
        Employee(name = "Srujan", position = 'Analyst', salary = 65000),            
    ]

    session.add_all(employees)
    session.commit()
    session.close()
    print("Sample data inserted successfully.")
def read_data():
    df = pd.read_sql('employees', con = engine)
    return df

def update_salary(df, employee_id, new_salary):
    df.loc[df['employee_id'] == employee_id, 'salary'] = new_salary
    return df
def write_data(df):
    df.to_sql('employees', con = engine, if_exists = 'replace', index = False)
    print("Updated data written back to the database.")

def main():
    create_table()
    insert_sample_data()

    df = read_data()
    print("Original DataFrame: ")
    print(df)

    df= update_salary(df, employee_id = 2, new_salary = 50000)
    print("\n Updated DataFrame: ")
    print(df)

    write_data(df)

    print("\nData updated in the database")
    df = read_data()
    print("Updated DataFrame")
    print(df)

In [40]:
main()

2024-09-14 15:50:05,556 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-14 15:50:05,557 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,559 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,561 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("employees")
2024-09-14 15:50:05,562 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,564 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	employee_id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	position VARCHAR NOT NULL,
	salary FLOAT NOT NULL,
	PRIMARY KEY (employee_id)
)


2024-09-14 15:50:05,566 INFO sqlalchemy.engine.Engine [no key 0.00151s] ()
2024-09-14 15:50:05,570 INFO sqlalchemy.engine.Engine COMMIT
Table 'employees' created successfully.
2024-09-14 15:50:05,574 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-14 15:50:05,578 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, position, salary) VALUES (?, ?, ?) RETURNING employee_id
2024-09-14 15:50:05,579 INFO sqlalchemy.engine.Engine [generated in 0.00022s (insertmanyvalues) 1/4 (ordered; batch not supported)] ('Mayura', 'Engineer', 70000.0)
2024-09-14 15:50:05,581 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, position, salary) VALUES (?, ?, ?) RETURNING employee_id
2024-09-14 15:50:05,582 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/4 (ordered; batch not supported)] ('Mayuresh', 'Manager', 85000.0)
2024-09-14 15:50:05,584 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, position, salary) VALUES (?, ?, ?) RETURNING employee_id
2024-09-14 15:50:05,585 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/4 (ordered; batch not supported)] ('Sughandha', 'Tech', 50000.0)
2024-09-14 15:50:05,586 INFO sqlalchemy.engine.Engine INSERT INTO employees (name, position, salary) VALUES (?, ?, ?) RETURNING employee_id
2024-09-14 15:50:05,587 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/4 (ordered; batch not supported)] ('Srujan', 'Analyst', 65000.0)
2024-09-14 15:50:05,590 INFO sqlalchemy.engine.Engine COMMIT
Sample data inserted successfully.
2024-09-14 15:50:05,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-14 15:50:05,594 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,595 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,597 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-14 15:50:05,598 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,599 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-14 15:50:05,600 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("employees")
2024-09-14 15:50:05,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,605 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,606 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,610 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("employees")
2024-09-14 15:50:05,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,612 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("employees")
2024-09-14 15:50:05,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,614 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,615 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,621 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("employees")
2024-09-14 15:50:05,623 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,626 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("employees")
2024-09-14 15:50:05,627 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,629 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,630 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,632 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("employees")
2024-09-14 15:50:05,633 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,635 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("employees")
2024-09-14 15:50:05,636 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,637 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,638 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,640 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,641 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,647 INFO sqlalchemy.engine.Engine SELECT employees.employee_id, employees.name, employees.position, employees.salary
FROM employees
2024-09-14 15:50:05,648 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ()
2024-09-14 15:50:05,657 INFO sqlalchemy.engine.Engine ROLLBACK
Original DataFrame:
   employee_id       name  position   salary
0            1     Mayura  Engineer  70000.0
1            2   Mayuresh   Manager  85000.0
2            3  Sughandha      Tech  50000.0
3            4     Srujan   Analyst  65000.0

 Updated DataFrame:
   employee_id       name  position   salary
0            1     Mayura  Engineer  70000.0
1            2   Mayuresh   Manager  50000.0
2            3  Sughandha      Tech  50000.0
3            4     Srujan   Analyst  65000.0
2024-09-14 15:50:05,667 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-14 15:50:05,671 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,674 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,675 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,676 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,679 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-14 15:50:05,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,681 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-14 15:50:05,682 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,684 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("employees")
2024-09-14 15:50:05,685 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,687 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,688 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,690 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("employees")
2024-09-14 15:50:05,691 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,692 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("employees")
2024-09-14 15:50:05,693 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,693 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,695 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,697 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("employees")
2024-09-14 15:50:05,698 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,699 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("employees")
2024-09-14 15:50:05,700 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,701 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,702 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,704 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("employees")
2024-09-14 15:50:05,705 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,706 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("employees")
2024-09-14 15:50:05,707 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,708 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,712 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,713 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,715 INFO sqlalchemy.engine.Engine
DROP TABLE employees
2024-09-14 15:50:05,716 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2024-09-14 15:50:05,720 INFO sqlalchemy.engine.Engine
CREATE TABLE employees (
	employee_id BIGINT,
	name TEXT,
	position TEXT,
	salary FLOAT
)


2024-09-14 15:50:05,721 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2024-09-14 15:50:05,726 INFO sqlalchemy.engine.Engine INSERT INTO employees (employee_id, name, position, salary) VALUES (?, ?, ?, ?)
2024-09-14 15:50:05,727 INFO sqlalchemy.engine.Engine [generated in 0.00096s] [(1, 'Mayura', 'Engineer', 70000.0), (2, 'Mayuresh', 'Manager', 50000.0), (3, 'Sughandha', 'Tech', 50000.0), (4, 'Srujan', 'Analyst', 65000.0)]
2024-09-14 15:50:05,729 INFO sqlalchemy.engine.Engine COMMIT
Updated data written back to the database.

Data updated in the database
2024-09-14 15:50:05,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-14 15:50:05,733 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,734 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,735 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-14 15:50:05,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,737 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-14 15:50:05,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,740 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("employees")
2024-09-14 15:50:05,741 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,743 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,744 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,745 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("employees")
2024-09-14 15:50:05,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,747 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("employees")
2024-09-14 15:50:05,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,749 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,750 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,751 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("employees")
2024-09-14 15:50:05,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,753 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("employees")
2024-09-14 15:50:05,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,755 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,755 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,757 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("employees")
2024-09-14 15:50:05,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,758 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("employees")
2024-09-14 15:50:05,759 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,760 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employees")
2024-09-14 15:50:05,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-14 15:50:05,762 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-09-14 15:50:05,762 INFO sqlalchemy.engine.Engine [raw sql] ('employees',)
2024-09-14 15:50:05,765 INFO sqlalchemy.engine.Engine SELECT employees.employee_id, employees.name, employees.position, employees.salary
FROM employees
2024-09-14 15:50:05,766 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ()
2024-09-14 15:50:05,768 INFO sqlalchemy.engine.Engine ROLLBACK
Updated DataFrame
   employee_id       name  position   salary
0            1     Mayura  Engineer  70000.0
1            2   Mayuresh   Manager  50000.0
2            3  Sughandha      Tech  50000.0
3            4     Srujan   Analyst  65000.0