In [1]:
from sqlalchemy import create_engine, MetaData, Column, Integer, String, Float, Sequence
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import inspect

In [3]:
engine = create_engine('sqlite:///company_rom1.db')
Base = declarative_base()

In [5]:
class Employee(Base):
    __tablename__ = 'employees'
    id = Column(Integer, Sequence('employee_id_seq'), primary_key = True)
    name = Column(String(50))
    age = Column(Integer)
    department = Column(String(50))
    salary = Column(Float)

In [11]:
metadata = MetaData()
metadata.reflect(bind = engine)
Base.metadata.create_all(engine)
employees = metadata.tables['employees']
inspector = inspect(engine)
columns = inspector.get_columns('employees')

In [13]:
# print table details
print("Table employee details")
for column in columns:
    print(f"Column: {column['name']} - Type: {column['type']}")

Table employee details
Column: id - Type: INTEGER
Column: name - Type: VARCHAR(50)
Column: age - Type: INTEGER
Column: department - Type: VARCHAR(50)
Column: salary - Type: FLOAT

In [15]:
# Create a session
Session = sessionmaker(bind = engine)
session = Session()

In [17]:
# Add employee records
employees = [
    Employee(name = 'Arun', age = 30, department = 'HR', salary = 70000),
    Employee(name = 'Radhika', age = 25, department = 'IT', salary = 80000),
    Employee(name = 'Chetan', age = 35, department = 'Finiance', salary = 120000)
]

session.add_all(employees)
session.commit()

In [19]:
# Query the database
all_employees = session.query(Employee).all()
for emp in all_employees:
    print(f"{emp.id}: {emp.name} - {emp.department} - ${emp.salary}")stud

1: Arun - HR - $70000.0
2: Radhika - IT - $80000.0
3: Chetan - Finiance - $120000.0

In [21]:
# Update on employees salary
employee_to_update = session.query(Employee).filter_by(name = 'Arun').first()
employee_to_update.salary = 75000
session.commit()

In [23]:
# Deleting records
employee_to_delete = session.query(Employee).filter_by(name = "Radhika").first()
session.delete(employee_to_delete)
session.commit()

In [27]:
# Query the database
print("Final records")
all_employees = session.query(Employee).all()
for emp in all_employees:
    print(f"{emp.id}: {emp.name} - {emp.department} = ${emp.salary}")

Final records
1: Arun - HR = $75000.0
3: Chetan - Finiance = $120000.0

# Student database