Day 3 (30-10-24) \
Notebook 1

### Genuinely Missing Values
1. Missing values can be missing not just because of negligence, but also because the information wasn't collected 
should

2. Imputation : A way of replaceing missing values in a dataset

In [130]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [76]:
chemicalProcess = pd.read_csv("ChemicalProcess.csv")

In [106]:
X = chemicalProcess.drop('Yield', axis = 'columns')
y = chemicalProcess['Yield']

In [16]:
chemicalProcess.head(3)

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3

In [20]:
chemicalProcess.isna().sum().sum()

106

Four strategies for imputations: 
1. mean
2. median
3. most frequent
4. constant - (customizable)

preprocessing is important as it improves the quality of data which will be used for model training

Advantage of using SimpleImputer instead of

##### Constant Strategy

In [78]:
impConst = SimpleImputer(
    strategy = 'constant', 
    fill_value = 0.5
).set_output(transform = 'pandas')

chemProcessConst = impConst.fit_transform(chemicalProcess.copy())
chemProcessConst.head(3)

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3.0,7.2,0.5,0.50,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2.0,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2.0,7.2,0.0,0.00,12.0,1.0,1.8,2.3

##### Mean Imputation

In [81]:
impConst = SimpleImputer(
    strategy = 'mean', 
    fill_value = 0.5
).set_output(transform = 'pandas')

chemProcessMean = impConst.fit_transform(chemicalProcess.copy())
print(chemProcessMean.isna().sum().sum())
chemProcessMean.head(3)

0

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3.0,7.2,0.017714,0.023714,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2.0,7.2,0.100000,0.150000,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2.0,7.2,0.000000,0.000000,12.0,1.0,1.8,2.3

##### Median Imputation

In [84]:
impConst = SimpleImputer(
    strategy = 'median', 
    fill_value = 0.5
).set_output(transform = 'pandas')

chemProcessMedian = impConst.fit_transform(chemicalProcess.copy())
print(chemProcessMedian.isna().sum().sum())
chemProcessMedian.head(3)

0

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3.0,7.2,0.0,0.00,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2.0,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2.0,7.2,0.0,0.00,12.0,1.0,1.8,2.3

##### most_frequent Imputation

In [87]:
impConst = SimpleImputer(
    strategy = 'most_frequent', 
    fill_value = 0.5
).set_output(transform = 'pandas')

chemProcessMode = impConst.fit_transform(chemicalProcess.copy())
print(chemProcessMode.isna().sum().sum())
chemProcessMode.head(3)

0

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3.0,7.2,0.0,0.00,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2.0,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2.0,7.2,0.0,0.00,12.0,1.0,1.8,2.3

In [91]:
chemicalProcess.head(3)

,Yield,BiologicalMaterial01,BiologicalMaterial02,BiologicalMaterial03,BiologicalMaterial04,BiologicalMaterial05,BiologicalMaterial06,BiologicalMaterial07,BiologicalMaterial08,BiologicalMaterial09,...,ManufacturingProcess36,ManufacturingProcess37,ManufacturingProcess38,ManufacturingProcess39,ManufacturingProcess40,ManufacturingProcess41,ManufacturingProcess42,ManufacturingProcess43,ManufacturingProcess44,ManufacturingProcess45
0,38.00,6.25,49.58,56.97,12.74,19.51,43.73,100.0,16.66,11.44,...,0.019,0.5,3,7.2,NaN,NaN,11.6,3.0,1.8,2.4
1,42.44,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.019,2.0,2,7.2,0.1,0.15,11.1,0.9,1.9,2.2
2,42.03,8.01,60.97,67.48,14.65,19.36,53.14,100.0,19.04,12.55,...,0.018,0.7,2,7.2,0.0,0.00,12.0,1.0,1.8,2.3

before doing linear regression, we need to do imputation

# Missing values in Train Test Splitted data.

use `.fit_transform()` or `.fit()` followed by `.transform()` on Training data\
use `.transform()` on test data

We want the characterstics from training data to be carried over to test data, as the model itself is built based on those characterstics.\
Those characterstics not being carried to test data is called **data leakage problem** and we want to avoid it.

In [108]:
# Ideal way of imputation

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 24)

print(X_train.isna().sum().sum())
print(X_test.isna().sum().sum())

66
40

In [112]:

imputer = SimpleImputer(
    strategy = 'mean', 
    fill_value = 0.5
).set_output(transform = 'pandas')

# Extract characterstics from training data
imputer.fit(X_train)

# Carrying those characterstics Into training set and test set
X_train_trn = imputer.transform(X_train)
X_test_trn = imputer.transform(X_test)

print(X_train_trn.isna().sum().sum())
print(X_test_trn.isna().sum().sum())

0
0

***Exercise*** 
1. compute linear regression values for mean imputation and median impuatation

In [126]:
# for Mean
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 24)

imputer = SimpleImputer(
    strategy = 'mean', 
    fill_value = 0.5
).set_output(transform = 'pandas')

imputer.fit(X_train)

X_train_trn = imputer.transform(X_train)
X_test_trn = imputer.transform(X_test)

lr = LinearRegression()
lr.fit(X_train_trn, y_train)
y_pred = lr.predict(X_test_trn)
r2_score(y_test, y_pred)

0.2393018585944332

In [128]:
# for Median
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 24)

imputer = SimpleImputer(
    strategy = 'median', 
    fill_value = 0.5
).set_output(transform = 'pandas')

imputer.fit(X_train)

X_train_trn = imputer.transform(X_train)
X_test_trn = imputer.transform(X_test)

lr = LinearRegression()
lr.fit(X_train_trn, y_train)
y_pred = lr.predict(X_test_trn)
r2_score(y_test, y_pred)

0.2365192936766214