In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata = np.random.randint(0, 101, (4, 3))
print(mydata)

[[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

In [3]:
myIndex = ['CA', 'NY', 'AZ', "TX"]
myColumns = ['Jan', 'Feb', 'Mar']

In [4]:
df = pd.DataFrame(data = mydata)
print(df)
df.at[0, 0]

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

95

In [5]:
df = pd.DataFrame(data = mydata, index = myIndex, columns = myColumns)
df['Jan']['CA']

95

In [6]:
print(df)

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 252.0+ bytes