In [ ]:
import sqlite3
conn = sqlite3.connect("Hands_on_2_student_data.db")
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS courses")
cursor.execute("DROP TABLE IF EXISTS students")
cursor.execute("""
CREATE TABLE IF NOT EXISTS students(
id INTEGER PRIMARY KEY,
name TEXT,
age INTEGER,
grade TEXT
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS courses(
c_id INTEGER PRIMARY KEY,
c_name TEXT,
instructor TEXT
)
""")

print("tables created")

cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (1, 'name1', 23, 'A'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (2, 'name2', 24, 'B'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (3, 'name3', 25, 'C'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (4, 'name4', 26, 'B'))
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)", (5, 'name5', 27, 'A'))

cursor.execute("INSERT INTO courses (c_id, c_name, instructor) VALUES (?, ?, ?)", (1, 'course1', 'abc'))
cursor.execute("INSERT INTO courses (c_id, c_name, instructor) VALUES (?, ?, ?)", (2, 'course2', 'xyz'))
cursor.execute("INSERT INTO courses (c_id, c_name, instructor) VALUES (?, ?, ?)", (3, 'course3', 'pqr'))
conn.commit()

cursor.execute("SELECT * FROM students WHERE grade = 'A'")
rows = cursor.fetchall()


cursor.execute("SELECT c_name, instructor FROM courses ORDER BY c_name")
rows = cursor.fetchall()



cursor.execute("UPDATE students SET name = 'Mayur', age = 24 WHERE id = 1")
cursor.execute("SELECT * FROM students WHERE id = 1")
row = cursor.fetchall()



cursor.execute("UPDATE courses SET instructor='Sam' WHERE c_id=2")
cursor.execute("SELECT * FROM courses")
row = cursor.fetchall()


cursor.execute("DELETE FROM students WHERE id = 3")
cursor.execute("SELECT * FROM students")
cursor.fetchall()

cursor.execute("DROP TABLE IF EXISTS courses")
cursor.execute("DROP TABLE IF EXISTS students")

# HANDS ON

In [ ]:
import sqlite3

# 1. establish a connection to the database
conn = sqlite3.connect('company.db')
conn.execute("PRAGMA foreign_keys = 1") # enable foreign key support
cursor = conn.cursor()
conn

In [ ]:
# 2. Create 'departments' table with primary key
cursor.execute("DROP TABLE IF EXISTS departments")
cursor.execute("""
CREATE TABLE IF NOT EXISTS departments (department_id INTEGER PRIMARY KEY,
department_name TEXT NOT NULL)
""")

In [ ]:
# 3. create 'employee' table with primary key and foreign key
cursor.execute("DROP TABLE IF EXISTS employees")
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees(
employee_id INTEGER PRIMARY KEY,
employee_name TEXT NOT NULL,
department_id INTEGER,
FOREIGN KEY (department_id) REFERENCES departments (department_id))

""")

In [ ]:
# 4. CREATE Indexes
cursor.execute("CREATE INDEX IF NOT EXISTS  idx_employee_name on employees (employee_name)")
cursor.execute("CREATE INDEX IF NOT EXISTS  idx_department_name on departments (department_name)")

In [ ]:
# 5. Insert data into departments
cursor.execute("INSERT INTO departments (department_name) VALUES ('Human Resources')")
cursor.execute("INSERT INTO departments (department_name) VALUES ('Engineering')")
cursor.execute("INSERT INTO departments (department_name) VALUES ('Sales')")

In [ ]:
# 6. Insert data into employees
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('name1', 1)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('name2', 2)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('name3', 1)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('name4', 4)")

In [ ]:
# 7. commit the transaction to save changes 
conn.commit()
print("Employees and their departments: ")
cursor.execute("""
SELECT employee_id, employee_name, department_id FROM employees
""")
results = cursor.fetchall()
for row in results:
    print(row)

In [ ]:
# 8 Query with JOIN to demonstrate foreign key relationship
print("Employees and their departments:")
cursor.execute("""
SELECT employees.employee_name, departments.department_name
FROM employees
JOIN departments ON employees.department_id = departments.department_id
""")
print("Out of part 8: \n")
result = cursor.fetchall()
for row in results: print(rows)

In [ ]:
import sqlite3


# 1. establish a connection to the database
conn = sqlite3.connect('company.db')
conn.execute("PRAGMA foreign_keys = 1") # enable foreign key support
cursor = con.cursor()

# 2.


# 3. create 'employee' table with primary key and foreign key
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees(
employee_id INTEGER PRIMARY KEY,
employee_name TEXT NOT NULL,
)
""")

# 4 

# 5 Insert data into 'departments'
cursor.execute()

# 6

# 7

# 8 Query with JOIN to demonstrate foreign key relationship
print("Employees and their departments:")
cursor.execute("""
SELECT employees.employee_name, departments.department_name
FROM employees
JOIN departments ON employees.department_id = departments.department_id
""")
print("Out of part 8: \n")
result = cursor.fetchall()
for row in results: print(rows)
    

# 9

# 10 Closeing the connection and cursor
if cursor: cursor.close()
if conn: conn.close()

# TEMP HANDS ON

In [103]:
import os 
filename = "new_students.db"
current_directory = os.getcwd()
file_path = os.path.join(current_directory, filename)

if os.path.exists(file_path):
    try: 
        os.remove(file_path)
        print(f"file got deleted")
    except Exception as error:
        print(f"An error {error} occured while deleting the file")
else: 
    print("File was not there")
print(f"{file_path}")

file got deleted
C:\Users\DAI.STUDENTSDC\Desktop\DAC 2024\Day12\new_students.db

In [105]:
import sqlite3

# 1. establish a connection to the database
conn = sqlite3.connect('new_students.db')
conn.execute("PRAGMA foreign_keys = 1") # enable foreign key support
cursor = conn.cursor()
conn

In [107]:
# 3. Create 'students' table 
cursor.execute("DROP TABLE IF EXISTS students")
cursor.execute("""
CREATE TABLE IF NOT EXISTS students(
student_id INTEGER PRIMARY KEY,
student_name TEXT NOT NULL,
marks INTEGER,
subject_id INTEGER,
FOREIGN KEY (subject_id) REFERENCES subjects (subject_id))

""")

In [109]:
# 2. Create 'subjects' table with primary key
cursor.execute("DROP TABLE IF EXISTS subjects")
cursor.execute("""
CREATE TABLE IF NOT EXISTS subjects (
subject_id INTEGER PRIMARY KEY,
subject_name TEXT NOT NULL)
""")

In [111]:
subject_data = [
    (1, 'maths'),
    (2, 'AI'),
    (3, 'Data Analytics')
]
cursor.executemany("""
INSERT INTO subjects(subject_id, subject_name) VALUES (?, ?)
""", subject_data)
conn.commit()

In [113]:
student_data = [
    (1, 'abc1', 30, 1),
    (2, 'ijk1', 25, 2),
    (3, 'abc2', 35, 1),
    (4, 'pqr1', 28, 3),
    (5, 'ijk2', 22, 2)
]
cursor.executemany("""
INSERT INTO students (student_id, student_name, marks, subject_id) VALUES (?, ?, ?, ?)
""", student_data)
conn.commit()

In [115]:
cursor.execute("""
SELECT * FROM subjects
""")
cursor.fetchall()

[(1, 'maths'), (2, 'AI'), (3, 'Data Analytics')]

In [117]:
cursor.execute("""
SELECT * FROM students
""")
cursor.fetchall()

[(1, 'abc1', 30, 1),
 (2, 'ijk1', 25, 2),
 (3, 'abc2', 35, 1),
 (4, 'pqr1', 28, 3),
 (5, 'ijk2', 22, 2)]

In [119]:
cursor.execute("""
SELECT students.student_name, subjects.subject_name, students.marks
FROM students JOIN subjects 
ON students.subject_id = subjects.subject_id
""")
cursor.fetchall()

[('abc1', 'maths', 30),
 ('ijk1', 'AI', 25),
 ('abc2', 'maths', 35),
 ('pqr1', 'Data Analytics', 28),
 ('ijk2', 'AI', 22)]

In [123]:
cursor.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.

# Student database

In [17]:
from sqlalchemy import create_engine, MetaData, Column, Integer, String, Float, Sequence
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import inspect

In [19]:
engine = create_engine('sqlite:///students.db')
Base = declarative_base()

In [21]:
class Students(Base):
    __tablename__= "students"
    id = Column(Integer, Sequence('student_id_seq'), primary_key=True)
    name = Column(String(50))
    subject_id = Column(Integer)
    marks = Column(Integer)

In [23]:
metadata = MetaData()
metadata.reflect(bind = engine)
Base.metadata.create_all(engine)
students = metadata.tables['students']
inspector = inspect(engine)
columns = inspector.get_columns('students')

In [25]:
print("Table of Students: ")
for column in columns:
    print(f"Column: {column['name']} - - Type: {column['type']}")

Table of Students:
Column: id - - Type: INTEGER
Column: name - - Type: VARCHAR(50)
Column: subject_id - - Type: INTEGER
Column: marks - - Type: INTEGER

In [37]:
Session = sessionmaker(bind = engine)
session = Session()

In [39]:
students = [
    Students(name = 'A', subject_id=4, marks = 45),
     Students(name = 'B', subject_id=3, marks = 45),
     Students(name = 'C', subject_id=2, marks = 45),
     Students(name = 'D', subject_id=1, marks = 45),
    
]

session.add_all(students)
session.commit()

In [41]:
all_employees = session.query(Students).all()
for stud in all_employees:
    print(f"{stud.id}: {stud.name} - {stud.subject_id} - ${stud.marks}")

1: A - 4 - $45
2: B - 3 - $45
3: C - 2 - $45
4: D - 1 - $45

In [43]:
# Update on employees salary
students_to_update = session.query(Students).filter_by(name = 'C').first()
students_to_update.marks = 75
session.commit()

In [45]:
# Deleting records
student_to_delete = session.query(Students).filter_by(name = "D").first()
session.delete(student_to_delete)
session.commit()

In [47]:
# Query the database
print("Final records")
all_students = session.query(Students).all()
for emp in all_students:
    print(f"{emp.id}: {emp.name} - {emp.subject_id} = ${emp.marks}")

Final records
1: A - 4 = $45
2: B - 3 = $45
3: C - 2 = $75