In [19]:
import os 
filename = "temp_student_database.db"
current_directory = os.getcwd()
file_path = os.path.join(current_directory, filename)

if os.path.exists(file_path):
    try: 
        os.remove(file_path)
        print(f"file got deleted")
    except Exception as error:
        print(f"An error {error} occured while deleting the file")
else: 
    print("File was not there")
print(f"{file_path}")

file got deleted
C:\Users\Dhruva\Desktop\temp-assignment_12\temp_student_database.db

In [9]:
import sqlite3

In [20]:
conn = sqlite3.connect("temp_student_database.db")
cursor = conn.cursor()

In [21]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS student_names(
stud_id INTEGER PRIMARY KEY,
stud_name TEXT NOT NULL
)
""")

In [22]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS subjects(
sub_id INTEGER PRIMARY KEY,
sub_name TEXT NOT NULL
)
""")

In [23]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS student_marks(
stud_id INTEGER,
sub_id INTEGER,
marks INTEGER NOT NULL,
PRIMARY KEY (stud_id, sub_id),
FOREIGN KEY (stud_id) REFERENCES student_names(stud_id),
FOREIGN KEY (sub_id) REFERENCES subjects(sub_id)
)
""")

In [24]:
student_data = [
    (1, 'Ashe'),
    (2, 'Aphelious'),
    (3, 'Hwey'),
    (4, 'Zed'),
    (5, 'Yasuo')
]
cursor.executemany("""
INSERT INTO student_names(stud_id, stud_name) VALUES (?, ?)
""", student_data)

In [25]:
subjects_data = [
    (1, 'Wizardry'),
    (2, "Assassination"),
    (3, "Scouting")
]
cursor.executemany("""
INSERT INTO subjects(sub_id, sub_name) VALUES (?, ?)
""", subjects_data)

In [26]:
marks_data = [
    (1, 1, 68), (1, 2, 85), (1, 3, 98), 
    (2, 1, 56), (2, 2, 95), (2, 3, 71),
    (3, 1, 100), (3, 2, 58), (3, 3, 82), 
    (4, 1, 80), (4, 2, 99), (4, 3, 95),
    (5, 1, 85), (5, 2, 93), (5, 3, 90)
]
cursor.executemany("""
INSERT INTO student_marks(stud_id, sub_id, marks) VALUES (?, ?, ?)
""", marks_data)

In [29]:
cursor.execute("""
SELECT * FROM student_names;
""")
cursor.fetchall()

[(1, 'Ashe'), (2, 'Aphelious'), (3, 'Hwey'), (4, 'Zed'), (5, 'Yasuo')]

In [30]:
cursor.execute("""
SELECT * FROM student_marks;
""")
cursor.fetchall()

[(1, 1, 68),
 (1, 2, 85),
 (1, 3, 98),
 (2, 1, 56),
 (2, 2, 95),
 (2, 3, 71),
 (3, 1, 100),
 (3, 2, 58),
 (3, 3, 82),
 (4, 1, 80),
 (4, 2, 99),
 (4, 3, 95),
 (5, 1, 85),
 (5, 2, 93),
 (5, 3, 90)]

In [31]:
cursor.execute("""
SELECT * FROM subjects;
""")
cursor.fetchall()

[(1, 'Wizardry'), (2, 'Assassination'), (3, 'Scouting')]

In [32]:
cursor.execute("""
SELECT student_names.stud_name, subjects.sub_name, marks 
FROM student_marks
JOIN student_names ON student_marks.stud_id = student_names.stud_id
JOIN subjects ON student_marks.sub_id = subjects.sub_id
""")
cursor.fetchall()

[('Ashe', 'Wizardry', 68),
 ('Ashe', 'Assassination', 85),
 ('Ashe', 'Scouting', 98),
 ('Aphelious', 'Wizardry', 56),
 ('Aphelious', 'Assassination', 95),
 ('Aphelious', 'Scouting', 71),
 ('Hwey', 'Wizardry', 100),
 ('Hwey', 'Assassination', 58),
 ('Hwey', 'Scouting', 82),
 ('Zed', 'Wizardry', 80),
 ('Zed', 'Assassination', 99),
 ('Zed', 'Scouting', 95),
 ('Yasuo', 'Wizardry', 85),
 ('Yasuo', 'Assassination', 93),
 ('Yasuo', 'Scouting', 90)]

In [33]:
cursor.close()
conn.close()