In [1]:
sentence_1 = 'It is a good practice for us'
sentence_2 = 'It was also good to know about it.'

In [5]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
tfidf = TfidfVectorizer()

In [11]:
x_new = tfidf.fit_transform([sentence_1, sentence_2])

In [13]:
x_new.toarray()

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [15]:
df = pd.DataFrame(data = x_new.toarray(), columns = tfidf.get_feature_names_out())

In [17]:
df

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391

In [20]:
with open('sample_sentences.txt', 'r') as file:
    sentences = file.read()

In [26]:
print(sentences)

Can you please pass me the salt?
I will meet you at the park in 30 minutes.
I need to finish this word before the deadline.
What tie does the movie start tonight?
Please do not forget to lock the door when you leave.

In [28]:
tfidf = TfidfVectorizer()

In [32]:
x_new = tfidf.fit_transform(sentences.split("\n"))

In [34]:
x_new.toarray()

array([[0.        , 0.        , 0.        , 0.43329089, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.43329089, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.43329089, 0.34957636, 0.43329089, 0.        , 0.20646543,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.29017996],
       [0.36094801, 0.36094801, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.36094801, 0.        , 0.        , 0.        , 0.36094801,
        0.36094801, 0.        , 0.        , 0.        , 0.36094801,
        0.        , 0.        , 0.        , 0.        , 0.17199366,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.36094801, 0.        , 0.24173109],
       [0.        , 0.        , 0.38130259, 0.        , 0.38130259,
        0.        , 0.        , 0.        , 0.38130259, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.38130259, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18169273,
        0.38130259, 0.        , 0.30763253, 0.        , 0.        ,
        0.        , 0.        , 0.38130259, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.40073619, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.40073619, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.40073619, 0.19095294,
        0.        , 0.40073619, 0.        , 0.40073619, 0.40073619,
        0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.33375258, 0.        , 0.33375258, 0.        , 0.33375258,
        0.        , 0.33375258, 0.33375258, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.33375258, 0.        ,
        0.        , 0.26926948, 0.        , 0.        , 0.15903489,
        0.        , 0.        , 0.26926948, 0.        , 0.        ,
        0.33375258, 0.        , 0.        , 0.22351799]])

In [36]:
df = pd.DataFrame(data = x_new.toarray(), columns = tfidf.get_feature_names_out())

In [38]:
df

,30,at,before,can,deadline,do,does,door,finish,forget,...,the,this,tie,to,tonight,what,when,will,word,you
0,0.000000,0.000000,0.000000,0.433291,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.206465,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.290180
1,0.360948,0.360948,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.171994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.360948,0.000000,0.241731
2,0.000000,0.000000,0.381303,0.000000,0.381303,0.000000,0.000000,0.000000,0.381303,0.000000,...,0.181693,0.381303,0.000000,0.307633,0.000000,0.000000,0.000000,0.000000,0.381303,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400736,0.000000,0.000000,0.000000,...,0.190953,0.000000,0.400736,0.000000,0.400736,0.400736,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.333753,0.000000,0.333753,0.000000,0.333753,...,0.159035,0.000000,0.000000,0.269269,0.000000,0.000000,0.333753,0.000000,0.000000,0.223518