In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from collections import Counter

1. Write a Pandas program to create and display a one-dimensional array-like 
object containing an array of data using Pandas module.

In [18]:
array = [i for i in range(12, 23)]
ser = pd.Series(array)
ser, type(ser)

(0     12
 1     13
 2     14
 3     15
 4     16
 5     17
 6     18
 7     19
 8     20
 9     21
 10    22
 dtype: int64,
 pandas.core.series.Series)

2. Write a Pandas program to convert a Panda module Series to Python list 
and it's type

In [23]:
array = [i for i in range(12, 23)]
ser = pd.Series(array)
arr2 = ser.tolist()
arr2, type(arr2)

([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22], list)

3. Write a Pandas program to add, subtract, multiple and divide two Pandas 
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 
9]

In [29]:
ser1 = pd.Series([i for i in range(10, 21)])
ser2 = pd.Series([i for i in range(20, 31)])
print(ser2 + ser1)
print("\n")
print(ser2 - ser1)

0     30
1     32
2     34
3     36
4     38
5     40
6     42
7     44
8     46
9     48
10    50
dtype: int64


0     10
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10    10
dtype: int64

4. Write a Pandas program to compare the elements of the two Pandas 
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, ]10

In [91]:
ser1 = pd.Series(np.random.randint(10, 50, 10))
ser2 = pd.Series(np.random.randint(10, 50, 10))
print(ser1)
print(ser2)
ser1.compare(ser2)

0    41
1    49
2    14
3    30
4    48
5    30
6    27
7    27
8    33
9    18
dtype: int32
0    22
1    32
2    34
3    36
4    15
5    24
6    45
7    36
8    42
9    31
dtype: int32

   self  other
0    41     22
1    49     32
2    14     34
3    30     36
4    48     15
5    30     24
6    27     45
7    27     36
8    33     42
9    18     31

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [53]:
dic = {i : j for i, j in enumerate(np.random.randint(10, 50, 10).tolist(), 1)}
ser = pd.Series(dic)
ser

1     31
2     12
3     49
4     39
5     16
6     23
7     18
8     38
9     47
10    40
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [56]:
numpy_array = np.random.randint(10, 50, 10)
ser = pd.Series(numpy_array)
ser

0    46
1    48
2    29
3    22
4    27
5    26
6    40
7    48
8    20
9    24
dtype: int32

7. Write a Pandas program to change the data type of given a column or a 
Series.

In [142]:
ser = pd.Series(np.random.randint(10, 50, 10))
ser[len(ser)] = "python"
ser2 = pd.to_numeric(ser2, errors = "coerce")
ser2.astype(float)

0     42.0
1     19.0
2     10.0
3     10.0
4     24.0
5     38.0
6     37.0
7     26.0
8     40.0
9     34.0
10     NaN
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a 
Series

In [ ]:
df = pd.DataFrame({
    "col1" : np.random.randint(10, 20, 5),
    "col2" : np.random.randint(50, 100, 5),
    "col3" : np.random.randint(100, 200, 5)
})

ser = pd.Series(df["col1"])
ser, type(ser)

9. Write a Pandas program to convert a given Series to an array.

In [81]:
ser = pd.Series(np.random.randint(10, 50, 10))
np_array = np.array(ser.tolist())
np_array, type(np_array)

(array([45, 25, 29, 28, 17, 16, 21, 44, 17, 15]), numpy.ndarray)

10. Write a Pandas program to convert Series of lists to one Series.

In [95]:
li1 = np.random.randint(10, 20, 3).tolist()
li2 = np.random.randint(50, 80, 2).tolist()
li3 = np.random.randint(90, 100, 4).tolist()
ser = pd.Series([li1, li2, li3])
ser.explode()

0    10
0    14
0    15
1    60
1    53
2    98
2    97
2    96
2    91
dtype: object

11. Write a Pandas program to sort a given Series.

In [105]:
ser = pd.Series(np.random.randint(10, 20, 10).tolist())
print(ser)
ser.sort_values(ascending = False)

0    16
1    11
2    19
3    17
4    16
5    18
6    15
7    10
8    10
9    18
dtype: int64

2    19
5    18
9    18
3    17
0    16
4    16
6    15
1    11
7    10
8    10
dtype: int64

12. Write a Pandas program to add some data to an existing Series.

In [57]:
ser1 = pd.Series(np.random.randint(10, 20, 8).tolist())
ser1[len(ser1)] = 500
ser1[len(ser1)] = "Php"
ser1

0     11
1     19
2     11
3     10
4     11
5     16
6     13
7     18
8    500
9    Php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and 
condition.

In [122]:
ser = pd.Series([i for i in range(1, 10)])
ser2 = ser[ser < 6]
ser2

0    1
1    2
2    3
3    4
4    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [152]:
ser = pd.Series(np.random.randint(1,100,10))
ser.sample(frac = 1)

4    59
8    91
1    25
9    30
5    69
3    49
0    64
6    20
2     2
7    42
dtype: int32

15. Write a Pandas program to create the mean and standard deviation of the data of a 
given Series.

In [157]:
ser = pd.Series(np.random.randint(1,100,10))
mean_value = ser.mean()
sd = ser.std()
print(f"Mean : {mean_value}, Standard Deviation: {sd}")

Mean : 59.4, Standard Deviation: 29.937713116847565

16. Write a Pandas program to get the items of a given series not present in another given 
series.

In [164]:
ser1 = pd.Series([i for i in range(1,6)])
ser2 = pd.Series([i for i in range(2, 11, 2)])
print(ser1); print(ser2)
ser1[~(ser1.isin(ser2))]

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [325]:
ser1 = pd.Series([i for i in range(1,6)])
ser2 = pd.Series([i for i in range(2, 11, 2)])
serx = ser1[~(ser1.isin(ser2))] 
sery = ser2[~(ser2.isin(ser1))]
ser3 = pd.concat((serx, sery), axis = 0).reindex()
ser3

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and 
maximum of a given series.

In [177]:
ser = pd.Series(np.random.randint(1,100,10))
mini = ser.min()
per25 = ser.quantile(0.25)
median = ser.median()
per75 = ser.quantile(0.75)
max = ser.max()

print(f"Max = {max}, Min: {mini}, Percentile 25: {per25}, Median : {median}, Percentile 75: {per75}")

Max = 98, Min: 34, Percentile 25: 54.25, Median : 62.5, Percentile 75: 78.0

19. Write a Pandas program to calculate the frequency counts of each unique value of a 
given series.

In [182]:
ser = pd.Series(np.random.randint(1, 4, 10))
print(ser.tolist())
ser.value_counts()

[1, 3, 1, 3, 1, 2, 2, 3, 2, 3]

3    4
1    3
2    3
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace 
everything else as 'Other' in the series.

In [193]:
ser = pd.Series(np.random.randint(1, 4, 20))
max = ser.value_counts().idxmax()
ser[ser != max] = "other"
ser

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_2176\2301264755.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[ser != max] = "other"

0     other
1     other
2     other
3         2
4     other
5         2
6     other
7         2
8         2
9     other
10    other
11    other
12    other
13        2
14        2
15        2
16    other
17        2
18    other
19    other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a 
given series.

In [199]:
ser = pd.Series(np.random.randint(5, 26, 30))
print(ser)
ser[ser % 5 == 0].index.tolist()

0     21
1     12
2     11
3     16
4     10
5     24
6     12
7      5
8     17
9     13
10     5
11     8
12    10
13    18
14     8
15    23
16    10
17     5
18    22
19    14
20    18
21    20
22    20
23     8
24    14
25     6
26    15
27     5
28    17
29    10
dtype: int32

[4, 7, 10, 12, 16, 17, 21, 22, 26, 27, 29]

22. Write a Pandas program to extract items at given positions of a given series.

In [205]:
ser = pd.Series(np.random.randint(5, 26, 30))
pos = [1, 0, 2, 5, 6, 8]
ser.iloc[pos]

1    13
0    21
2     5
5    21
6     5
8     9
dtype: int32

23. Write a Pandas program to get the positions of items of a given series in another 
given series.

In [212]:
ser1 = pd.Series(np.random.randint(1,11,20))
ser2 = pd.Series(np.random.randint(6,31,20))
print(ser1)
print(ser2)
ser2[ser2.isin(ser1)].index.tolist()

0      2
1      8
2     10
3      7
4      3
5      1
6     10
7      7
8      8
9      8
10     4
11     8
12     8
13     3
14     1
15     2
16    10
17     8
18     2
19     1
dtype: int32
0     18
1     14
2     11
3     30
4      8
5     23
6     26
7     10
8      6
9     18
10    18
11    11
12    29
13    11
14    19
15    16
16    19
17    12
18    26
19    17
dtype: int32

[4, 7]

24. Write a Pandas program convert the first and last character of each word to upper 
case in each word of a given series.

In [215]:
def func(stri):
    li = list(stri)
    li[0] = li[0].upper()
    li[-1] = li[-1].upper()
    return "".join(li)
serAlpha = pd.Series(["php", "python", "java", "cpp"])
serAlpha.apply(func)

0       PhP
1    PythoN
2      JavA
3       CpP
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given 
series

In [218]:
ser = pd.Series(["php", "python", "java", "cpp"])
ser.apply(lambda x : len(x))

0    3
1    6
2    4
3    3
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive 
numbers of a given series.

In [229]:
ser = pd.Series(np.random.randint(1, 10, 10))
print(ser.tolist())
ser.rolling(2).apply(lambda x : x.iloc[1] - x.iloc[0])

[9, 1, 2, 5, 3, 7, 4, 4, 9, 4]

0    NaN
1   -8.0
2    1.0
3    3.0
4   -2.0
5    4.0
6   -3.0
7    0.0
8    5.0
9   -5.0
dtype: float64

27. Write a Pandas program to convert a series of date strings to a timeseries.

In [247]:
ser = pd.Series(["01 Jan 2015", "10-02-2016", "20180307", "2014/05/06", "2016-04-12", "2019-04-06T11:20"])
ser = pd.to_datetime(ser, errors = 'coerce', format = "mixed")
ser

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day 
of week from a given series of date strings.

In [317]:
ser = pd.Series(["01 Jan 2015", "10-02-2016", "20180307", "2014/05/06", "2016-04-12", "2019-04-06T11:20"])
ser = pd.to_datetime(ser, errors = 'coerce', format = "mixed")
print("Day of Month")
print(ser.dt.day.tolist())
print("Day of Year")
print(ser.dt.dayofyear.tolist())
print("Week number")
print(ser.dt.isocalendar().week.tolist())
print("Day of Week")
print(ser.dt.day_name().tolist())

Day of Month
[1, 2, 7, 6, 12, 6]
Day of Year
[1, 276, 66, 126, 103, 96]
Week number
[1, 39, 10, 19, 15, 14]
Day of Week
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

29. Write a Pandas program to convert year-month string to dates adding a specified day 
of the month

Sample Output:
Original Series:
0 Jan 2015
1 Feb 2016
2 Mar 2017
3 Apr 2018
4 May 2019.

In [332]:
ser = pd.Series(["Jan 2015", "Feb 2016", "Mar 2017", "Apr 2018", "May 2019"])
ser = "11 " + ser 
ser = pd.to_datetime(ser, format = "mixed")
ser

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

30. Write a Pandas program to filter words from a given series that contain atleast two 
vowels.

In [344]:
def cnt(st):
    cnt = 0
    for i in st: 
        if i in ['a', 'e', 'i', 'o', 'u']: cnt += 1
    return cnt
ser = pd.Series(["red", "green", "orange", "pink", "yellow", "white"])
ser = ser[ser.apply(cnt) >= 2]
ser

1     green
2    orange
4    yellow
5     white
dtype: object

In [ ]:
31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line 
distance between two points in Euclidean space. With this distance, Euclidean space 
becomes a metric space. The associated norm is called the Euclidean norm.

In [356]:
ser1 = pd.Series(np.random.randint(1, 10, 10))
ser2 = pd.Series(np.random.randint(1, 10, 10))
(((ser1 - ser2) ** 2).sum()) ** 0.5

11.090536506409418

In [ ]:
32. Write a Pandas program to find the positions of the values neighboured by smaller 
values on both sides in a given series.

In [19]:

ser = pd.Series(np.random.randint(1, 10, 10))
pos_list = []
for ind in range(1, len(ser) - 1):
    if ser[ind] > ser[ind-1] and ser[ind] > ser[ind+1]: pos_list.append(ind)
print(ser.tolist())
pos_list

[3, 8, 1, 1, 8, 2, 3, 8, 2, 4]

[1, 4, 7]

In [ ]:
33. Write a Pandas program to replace missing white spaces in a given string with the 
least frequent character.

In [7]:
str=  "abc def abcdef icd"
ser = pd.Series(Counter(str))
print(ser)
str.replace(" ", ser.idxmin())

a    2
b    2
c    3
     3
d    3
e    2
f    2
i    1
dtype: int64

'abcidefiabcdefiicd'

In [ ]:
34. Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a 
delayed copy of itself as a function of delay. Informally, it is the similarity between 
observations as a function of the time lag between them.

In [21]:

def compute_autocorrelations(series, max_lag):
    autocorrs = {}
    for lag in range(1, max_lag + 1):
        autocorrs[lag] = series.autocorr(lag=lag)
    return autocorrs
data = pd.Series(np.random.randn(100))
max_lag = 10
autocorrelation_results = compute_autocorrelations(data, max_lag)
autocorr_df = pd.DataFrame(list(autocorrelation_results.items()), columns=['Lag', 'Autocorrelation'])
print(autocorr_df["Autocorrelation"].apply(lambda x : round(x, 2)).tolist())

[0.07, 0.08, 0.17, -0.04, 0.12, -0.05, -0.09, 0.07, 0.1, -0.17]

In [ ]:
35. Write a Pandas program to create a TimeSeries to display all the Sundays of given 
year.

In [31]:
year = 2024
ser = pd.date_range(start= f"01-01-{year}", end=f"31-12-{year}", freq='D')
ser[ser.day_name() == "Sunday"]

DatetimeIndex(['2024-01-07', '2024-01-14', '2024-01-21', '2024-01-28',
               '2024-02-04', '2024-02-11', '2024-02-18', '2024-02-25',
               '2024-03-03', '2024-03-10', '2024-03-17', '2024-03-24',
               '2024-03-31', '2024-04-07', '2024-04-14', '2024-04-21',
               '2024-04-28', '2024-05-05', '2024-05-12', '2024-05-19',
               '2024-05-26', '2024-06-02', '2024-06-09', '2024-06-16',
               '2024-06-23', '2024-06-30', '2024-07-07', '2024-07-14',
               '2024-07-21', '2024-07-28', '2024-08-04', '2024-08-11',
               '2024-08-18', '2024-08-25', '2024-09-01', '2024-09-08',
               '2024-09-15', '2024-09-22', '2024-09-29', '2024-10-06',
               '2024-10-13', '2024-10-20', '2024-10-27', '2024-11-03',
               '2024-11-10', '2024-11-17', '2024-11-24', '2024-12-01',
               '2024-12-08', '2024-12-15', '2024-12-22', '2024-12-29'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
36. Write a Pandas program to convert given series into a dataframe with its index as 
another column on the dataframe.

In [45]:
ser1 = pd.Series(np.random.randint(10, 100, 10))
ind_ser = pd.Series(np.arange(4, 14))
df = pd.DataFrame(data= {"col1" : ser1.tolist()}, index = ind_ser)
print(ser1)
print(df)

0    31
1    68
2    42
3    43
4    17
5    15
6    47
7    25
8    37
9    16
dtype: int32
    col1
4     31
5     68
6     42
7     43
8     17
9     15
10    47
11    25
12    37
13    16

In [ ]:
37. Write a Pandas program to stack two given series vertically and horizontally

In [53]:


ser1 = pd.Series(np.random.randint(10, 100, 10))
ser2 = pd.Series(np.random.randint(10, 100, 10))
vcon = pd.concat((ser1, ser2), axis = 0)
hcon = pd.concat((ser1, ser2), axis = 1)
print(vcon)
print(hcon)

0    40
1    78
2    64
3    41
4    81
5    70
6    54
7    96
8    47
9    44
0    94
1    38
2    82
3    48
4    86
5    74
6    65
7    60
8    10
9    63
dtype: int32
    0   1
0  40  94
1  78  38
2  64  82
3  41  48
4  81  86
5  70  74
6  54  65
7  96  60
8  47  10
9  44  63

In [ ]:
38. Write a Pandas program to check the equality of two given series.

In [55]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([10, 2, 30, 4, 50])
print(ser1 == ser2)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [ ]:
39. Write a Pandas program to find the index of the first occurrence of the smallest and 
largest value of a given series.

In [61]:
ser = pd.Series(np.random.randint(10, 100, 10))
print(ser.tolist())
ser.idxmin(), ser.idxmax()

[71, 21, 80, 23, 55, 86, 84, 71, 23, 25]

(1, 5)

In [ ]:
40. Write a Pandas program to check inequality over the index axis of a given dataframe 
and a given series.

In [67]:
ser1 = pd.Series([10, 2, 3, 4, 5, 60, 7, 9])
ser2 = pd.Series([1, 2, 3, 40, 5, 60, 7, 9])
ser3 = pd.Series([1, 2, 30, 4, 5, 60, 7, 90])
ser4 = pd.Series([1, 20, 3, 4, 5, 60, 70, 9])
sercrit = pd.Series([1, 2, 3, 4, 5, 6, 7, 9])
df = pd.DataFrame(data = {"col1" : ser1, "col2" : ser2, "col3" : ser3, "col4" : ser4})
df.ne(sercrit, axis = 0)

    col1   col2   col3   col4
0   True  False  False  False
1  False  False  False   True
2  False  False   True  False
3  False   True  False  False
4  False  False  False  False
5   True   True   True   True
6  False  False  False   True
7  False  False   True  False