In [2]:
import pandas as pd
import numpy as np
from datetime import date

1. Write a Pandas program to create\
 a. Datetime object for Jan 15 2012.\
 b. Specific date and time of 9:20 pm.\
 c. Local date and time.\
 d. A date without time.\
 e. Current date.\
 f. Time from a datetime.\
 g. Current local time.

In [3]:
date = pd.to_datetime("15-01-2012", format="mixed")
print(date)

2012-01-15 00:00:00

In [4]:
date_time = pd.to_datetime("15-01-2012T09:20:00", format="mixed")
date_time

Timestamp('2012-01-15 09:20:00')

In [5]:
local_date_time = date_time.tz_localize("Asia/Kolkata")
print(local_date_time)

2012-01-15 09:20:00+05:30

In [6]:
date = pd.to_datetime("15-01-2012", format="mixed").date()
print(date)

2012-01-15

In [7]:
current_date = pd.Timestamp.now()
print(current_date.date())

2024-10-22

In [8]:
pd.Timestamp.now().time()

datetime.time(6, 10, 26, 588973)

In [9]:
# print(pd.Timestamp.now().tz_localize("Asia/Kolkata").time())
# pd.to_datetime(pd.Timestamp.now()).tz_localize("Asia/Kolkata").time()

print(pd.Timestamp.now(tz = "Asia/Kolkata").time())

11:40:26.600688

2. Write a Pandas program to create\
a) a specific date using timestamp.\
b) date and time using timestamp.\
c) a time adds in the current local date using timestamp.\
d) current date and time using timestamp.

In [10]:
date = pd.Timestamp(year = 2024, month = 11, day = 21)
time = pd.Timestamp(year = 2024, month = 11, day = 21, hour = 12, minute = 30, second = 30 )
date, time

(Timestamp('2024-11-21 00:00:00'), Timestamp('2024-11-21 12:30:30'))

In [11]:
date = pd.Timestamp(year = 2024, month = 11, day = 21)
new_date = date + pd.Timedelta(hours = 12, minutes = 30, seconds= 30)
date, new_date

(Timestamp('2024-11-21 00:00:00'), Timestamp('2024-11-21 12:30:30'))

In [12]:
date = pd.Timestamp.now()
mod_date = date + pd.Timedelta(hours = 5, minutes = 30, seconds= 30)
date, mod_date

(Timestamp('2024-10-22 06:10:26.645100'),
 Timestamp('2024-10-22 11:40:56.645100'))

3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [13]:
date_one = pd.Timestamp(year = 2024, month = 12, day = 2)
date_two = pd.Timestamp("31-Dec-2024")
date_one, date_two

(Timestamp('2024-12-02 00:00:00'), Timestamp('2024-12-31 00:00:00'))

4. Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.

In [14]:
date_one = pd.Timestamp(year = 2024, month = 12, day = 2)
time_diff = pd.Timedelta(days = 1)
print(date_one + time_diff, date_one - time_diff)

2024-12-03 00:00:00 2024-12-01 00:00:00

In [15]:
day_one = pd.Timestamp(year = 2024, month = 12, day = 2)
day_two = pd.Timestamp(year = 2024, month = 12, day = 6)
diff = day_one - day_two
diff.days

-4

5. Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [16]:

date_rng = pd.date_range(start='1/1/2023', end='1/08/2023', freq='D')
series = pd.Series(np.random.randn(len(date_rng)), index=date_rng)
print(series)
print(series.index.dtype)

2023-01-01   -1.864715
2023-01-02   -0.803539
2023-01-03   -0.097865
2023-01-04    0.594914
2023-01-05   -0.439566
2023-01-06    0.190192
2023-01-07    0.836463
2023-01-08    0.976311
Freq: D, dtype: float64
datetime64[ns]

6. Write a Pandas program to create a time-series from a given list of dates as
strings.

In [17]:
date_list = ['01-01-2024', '02-01-2024', '03-01-2024', '04-01-2024', '05-01-2024']
date_list = pd.Series(date_list)
date_list = pd.to_datetime(date_list)
data = np.random.randint(1,100,len(date_list))

ser = pd.Series(data, index=date_list)
ser.index.dtype

dtype('<M8[ns]')

7. Write a Pandas program to create a time series object that has time indexed
data. Also select the dates of same year and select the dates between certain
dates.

In [18]:
date_list = ['01-01-2023', '02-01-2024', '03-01-2022', '04-01-2024', '05-01-2020']
date_list = pd.to_datetime(date_list)
data = np.random.randint(1,100,len(date_list))

seri = pd.Series(data, index=date_list)
year_24 = seri[seri.index.year == 2024]
year_24

2024-02-01    58
2024-04-01     1
dtype: int64

8. Write a Pandas program to create a date range using a startpoint date and a
number of periods.

In [19]:
dates = pd.date_range(start = "1/1/2023", periods = 10)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.

In [20]:
dates = pd.date_range(start = "1/1/2023", end = "31/1/2023", freq='D')
dates.max(), dates.min(), dates.get_loc(dates.max()), dates.get_loc(dates.min())

(Timestamp('2023-01-31 00:00:00'), Timestamp('2023-01-01 00:00:00'), 30, 0)

10. Write a Pandas program to create a time series using three months
frequency.

In [21]:
dates = pd.date_range(start = "1/1/2023", end = "31/1/2025", freq='3ME')
dates

DatetimeIndex(['2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31'],
              dtype='datetime64[ns]', freq='3ME')


11. Write a Pandas program to create a sequence of durations increasing by an
hour.

In [22]:
sequence = pd.timedelta_range(start = "00:00:00",periods=20, freq='H')
sequence

<ipython-input-22-4d8306e93188>:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  sequence = pd.timedelta_range(start = "00:00:00",periods=20, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00'],
               dtype='timedelta64[ns]', freq='h')

12. Write a Pandas program to convert year and day of year into a single
datetime column of a dataframe.

In [23]:
dates = pd.date_range(start = "1/1/2023", end = "31/1/2023", freq='4D')
df = pd.DataFrame({"year":dates.year, "day_of_year":dates.dayofyear})
df

   year  day_of_year
0  2023            1
1  2023            5
2  2023            9
3  2023           13
4  2023           17
5  2023           21
6  2023           25
7  2023           29

13. Write a Pandas program to create a series of Timestamps from a DataFrame
of integer or string columns. Also create a series of Timestamps using specified
columns.

In [24]:
data = {
    'year': [2023, 2023, 2023, 2024, 2025],
    'month': [1, 2, 3, 4, 9],
    'day': [10, 15, 20, 23, 1]
}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
timestamp_series = pd.to_datetime(df[['year', 'month', 'day']])
print(timestamp_series)

0   2023-01-10
1   2023-02-15
2   2023-03-20
3   2024-04-23
4   2025-09-01
dtype: datetime64[ns]

14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [25]:
day = pd.to_datetime("23-12-2024", format="mixed")
is_weekday = day.weekday() < 5
print(is_weekday)
print(day.weekday())

True
0

15. Write a Pandas program to get a time series with the last working days of
each month of a specific year.

In [26]:
# freq='BM': This frequency represents the last business day of each month.
ser = pd.date_range(start = "1/1/2023", end = "31/12/2023", freq='BM')
ser

<ipython-input-26-1cff8af3b760>:2: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  ser = pd.date_range(start = "1/1/2023", end = "31/12/2023", freq='BM')

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29'],
              dtype='datetime64[ns]', freq='BME')

16. Write a Pandas program to create a time series combining hour and minute.

In [27]:

hours = pd.Series(np.random.randint(0, 23, 10))
minutes = pd.Series(np.random.randint(0, 59, 10))
ser = pd.Series(pd.to_datetime(hours.astype(str) + ':' + minutes.astype(str), format='%H:%M'))
ser = pd.to_datetime(ser)
ser = ser.apply(lambda x: x.time())
ser.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

17. Write a Pandas program to convert unix/epoch time to a regular time stamp
in UTC. Also convert the said timestamp in to a given time zone.

In [28]:
unix_time = 1720000000

timestamp_utc = pd.to_datetime(unix_time, unit='s', utc=True)
timestamp_local = timestamp_utc.tz_convert('Asia/Kolkata')
timestamp_local.to_datetime64()

numpy.datetime64('2024-07-03T09:46:40.000000000')

18. Write a Pandas program to create a time series object with a time zone.

In [29]:
ser = pd.date_range(start = "21-7-2024",
                    end = "30-9-2024",
                    freq = 'D')
ser = ser.tz_localize("Asia/Kolkata")

ser

DatetimeIndex(['2024-07-21 00:00:00+05:30', '2024-07-22 00:00:00+05:30',
               '2024-07-23 00:00:00+05:30', '2024-07-24 00:00:00+05:30',
               '2024-07-25 00:00:00+05:30', '2024-07-26 00:00:00+05:30',
               '2024-07-27 00:00:00+05:30', '2024-07-28 00:00:00+05:30',
               '2024-07-29 00:00:00+05:30', '2024-07-30 00:00:00+05:30',
               '2024-07-31 00:00:00+05:30', '2024-08-01 00:00:00+05:30',
               '2024-08-02 00:00:00+05:30', '2024-08-03 00:00:00+05:30',
               '2024-08-04 00:00:00+05:30', '2024-08-05 00:00:00+05:30',
               '2024-08-06 00:00:00+05:30', '2024-08-07 00:00:00+05:30',
               '2024-08-08 00:00:00+05:30', '2024-08-09 00:00:00+05:30',
               '2024-08-10 00:00:00+05:30', '2024-08-11 00:00:00+05:30',
               '2024-08-12 00:00:00+05:30', '2024-08-13 00:00:00+05:30',
               '2024-08-14 00:00:00+05:30', '2024-08-15 00:00:00+05:30',
               '2024-08-16 00:00:00+05:30', '2024-08-17 00:00:00+05:30',
               '2024-08-18 00:00:00+05:30', '2024-08-19 00:00:00+05:30',
               '2024-08-20 00:00:00+05:30', '2024-08-21 00:00:00+05:30',
               '2024-08-22 00:00:00+05:30', '2024-08-23 00:00:00+05:30',
               '2024-08-24 00:00:00+05:30', '2024-08-25 00:00:00+05:30',
               '2024-08-26 00:00:00+05:30', '2024-08-27 00:00:00+05:30',
               '2024-08-28 00:00:00+05:30', '2024-08-29 00:00:00+05:30',
               '2024-08-30 00:00:00+05:30', '2024-08-31 00:00:00+05:30',
               '2024-09-01 00:00:00+05:30', '2024-09-02 00:00:00+05:30',
               '2024-09-03 00:00:00+05:30', '2024-09-04 00:00:00+05:30',
               '2024-09-05 00:00:00+05:30', '2024-09-06 00:00:00+05:30',
               '2024-09-07 00:00:00+05:30', '2024-09-08 00:00:00+05:30',
               '2024-09-09 00:00:00+05:30', '2024-09-10 00:00:00+05:30',
               '2024-09-11 00:00:00+05:30', '2024-09-12 00:00:00+05:30',
               '2024-09-13 00:00:00+05:30', '2024-09-14 00:00:00+05:30',
               '2024-09-15 00:00:00+05:30', '2024-09-16 00:00:00+05:30',
               '2024-09-17 00:00:00+05:30', '2024-09-18 00:00:00+05:30',
               '2024-09-19 00:00:00+05:30', '2024-09-20 00:00:00+05:30',
               '2024-09-21 00:00:00+05:30', '2024-09-22 00:00:00+05:30',
               '2024-09-23 00:00:00+05:30', '2024-09-24 00:00:00+05:30',
               '2024-09-25 00:00:00+05:30', '2024-09-26 00:00:00+05:30',
               '2024-09-27 00:00:00+05:30', '2024-09-28 00:00:00+05:30',
               '2024-09-29 00:00:00+05:30', '2024-09-30 00:00:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq=None)

19. Write a Pandas program to remove the time zone information from a Time
series data.

In [30]:
ser = pd.date_range(start = "21-7-2024",
                    end = "30-9-2024",
                    freq = 'D')
ser = ser.tz_localize("Asia/Kolkata")
ser = ser.tz_localize(None)
ser

DatetimeIndex(['2024-07-21', '2024-07-22', '2024-07-23', '2024-07-24',
               '2024-07-25', '2024-07-26', '2024-07-27', '2024-07-28',
               '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01',
               '2024-08-02', '2024-08-03', '2024-08-04', '2024-08-05',
               '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09',
               '2024-08-10', '2024-08-11', '2024-08-12', '2024-08-13',
               '2024-08-14', '2024-08-15', '2024-08-16', '2024-08-17',
               '2024-08-18', '2024-08-19', '2024-08-20', '2024-08-21',
               '2024-08-22', '2024-08-23', '2024-08-24', '2024-08-25',
               '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29',
               '2024-08-30', '2024-08-31', '2024-09-01', '2024-09-02',
               '2024-09-03', '2024-09-04', '2024-09-05', '2024-09-06',
               '2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10',
               '2024-09-11', '2024-09-12', '2024-09-13', '2024-09-14',
               '2024-09-15', '2024-09-16', '2024-09-17', '2024-09-18',
               '2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22',
               '2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26',
               '2024-09-27', '2024-09-28', '2024-09-29', '2024-09-30'],
              dtype='datetime64[ns]', freq=None)

20. Write a Pandas program to subtract two timestamps of same time zone or different time zone.

In [31]:
Ts1 = pd.Timestamp(year = 2024, month = 12, day = 2).tz_localize("Asia/Kolkata")
Ts2 = pd.Timestamp(year = 2024, month = 12, day = 4).tz_localize("Asia/Kolkata")
diff = Ts1 - Ts2
print(diff)

ts3 = pd.Timestamp(year = 2024, month = 12, day = 2).tz_localize("Asia/Kolkata")
ts4 = pd.Timestamp(year = 2024, month = 12, day = 5).tz_localize('America/New_York')
print(ts3 - ts4)

-2 days +00:00:00
-4 days +13:30:00

21. Write a Pandas program to calculate all Thursdays between two given days.

In [32]:
date_1 = "20-9-2024"
date_2 = "30-12-2024"
ser = pd.date_range(start = date_1, end = date_2, freq = 'W-THU')
ser.to_list()

[Timestamp('2024-09-26 00:00:00'),
 Timestamp('2024-10-03 00:00:00'),
 Timestamp('2024-10-10 00:00:00'),
 Timestamp('2024-10-17 00:00:00'),
 Timestamp('2024-10-24 00:00:00'),
 Timestamp('2024-10-31 00:00:00'),
 Timestamp('2024-11-07 00:00:00'),
 Timestamp('2024-11-14 00:00:00'),
 Timestamp('2024-11-21 00:00:00'),
 Timestamp('2024-11-28 00:00:00'),
 Timestamp('2024-12-05 00:00:00'),
 Timestamp('2024-12-12 00:00:00'),
 Timestamp('2024-12-19 00:00:00'),
 Timestamp('2024-12-26 00:00:00')]

22. Write a Pandas program to find the all the business quarterly begin and end
dates of a specified year.

In [33]:
date_1 = "01-01-2024"
date_2 = "31-12-2024"
ser_start = pd.date_range(start = date_1, end = date_2, freq = 'BQS')
ser_end = pd.date_range(start = date_1, end = date_2, freq = 'BQ')
print(ser_start.to_list())
print(ser_end.to_list())

[Timestamp('2024-01-01 00:00:00'), Timestamp('2024-04-01 00:00:00'), Timestamp('2024-07-01 00:00:00'), Timestamp('2024-10-01 00:00:00')]
[Timestamp('2024-03-29 00:00:00'), Timestamp('2024-06-28 00:00:00'), Timestamp('2024-09-30 00:00:00'), Timestamp('2024-12-31 00:00:00')]

<ipython-input-33-d0ae3d50afd5>:4: FutureWarning: 'BQ' is deprecated and will be removed in a future version, please use 'BQE' instead.
  ser_end = pd.date_range(start = date_1, end = date_2, freq = 'BQ')

23. Write a Pandas program to generate sequences of fixed-frequency dates and
time spans intervals.

In [34]:
date_sequence = pd.date_range(start="2024-10-21", end="2024-10-30", freq='D')
time_sequence = pd.timedelta_range(start='0 days', end='10 hours', freq='1H')
print("Date sequence")
print(date_sequence)
print("Time sequence")
print(time_sequence)

Date sequence
DatetimeIndex(['2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24',
               '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28',
               '2024-10-29', '2024-10-30'],
              dtype='datetime64[ns]', freq='D')
Time sequence
TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00'],
               dtype='timedelta64[ns]', freq='h')

<ipython-input-34-eedafe4a7e5d>:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  time_sequence = pd.timedelta_range(start='0 days', end='10 hours', freq='1H')

24. Write a Pandas program to generate time series combining day and intraday
offsets intervals.

In [41]:
daily_timestamps = pd.date_range(start="2024-10-01", periods=10, freq='D')
intraday_timestamps = pd.date_range(start="2024-10-01", periods=24*10, freq='H')
combined_timestamps = pd.concat([pd.Series(daily_timestamps), pd.Series(intraday_timestamps)])
combined_timestamps = combined_timestamps.sort_values().drop_duplicates()
print(combined_timestamps)
print(intraday_timestamps)

0     2024-10-01 00:00:00
1     2024-10-01 01:00:00
2     2024-10-01 02:00:00
3     2024-10-01 03:00:00
4     2024-10-01 04:00:00
              ...
235   2024-10-10 19:00:00
236   2024-10-10 20:00:00
237   2024-10-10 21:00:00
238   2024-10-10 22:00:00
239   2024-10-10 23:00:00
Length: 240, dtype: datetime64[ns]
DatetimeIndex(['2024-10-01 00:00:00', '2024-10-01 01:00:00',
               '2024-10-01 02:00:00', '2024-10-01 03:00:00',
               '2024-10-01 04:00:00', '2024-10-01 05:00:00',
               '2024-10-01 06:00:00', '2024-10-01 07:00:00',
               '2024-10-01 08:00:00', '2024-10-01 09:00:00',
               ...
               '2024-10-10 14:00:00', '2024-10-10 15:00:00',
               '2024-10-10 16:00:00', '2024-10-10 17:00:00',
               '2024-10-10 18:00:00', '2024-10-10 19:00:00',
               '2024-10-10 20:00:00', '2024-10-10 21:00:00',
               '2024-10-10 22:00:00', '2024-10-10 23:00:00'],
              dtype='datetime64[ns]', length=240, freq='h')
DatetimeIndex(['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04',
               '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08',
               '2024-10-09', '2024-10-10'],
              dtype='datetime64[ns]', freq='D')

<ipython-input-41-a013c1d4eafa>:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  intraday_timestamps = pd.date_range(start="2024-10-01", periods=24*10, freq='H')

25. Write a Pandas program to extract the day name from a specified date. Add 2
days and 1 business day with the specified date.

In [54]:
date = "2024-10-18"
date = pd.to_datetime(date)
print(date.day_name())
print(date + pd.Timedelta(days = 2))
print(date + pd.offsets.BDay(2))

Friday
2024-10-20 00:00:00
2024-10-22 00:00:00

26. Write a Pandas program to convert integer or float epoch times to Timestamp
and DatetimeIndex.

In [61]:
epoch = 1720000003
date = pd.to_datetime(epoch, unit='s')
print(date, type(date))
date_index = pd.date_range(start=date, periods=1)
print(date_index, type(date_index))

2024-07-03 09:46:43 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
DatetimeIndex(['2024-07-03 09:46:43'], dtype='datetime64[ns]', freq='D') <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

27. Write a Pandas program to calculate one, two, three business day(s) from a
specified date. Also find the next business month end from a specific date.

In [65]:
date = pd.to_datetime("2024-10-18")
print(date + pd.offsets.BDay(1))
print(date + pd.offsets.BDay(2))
print(date + pd.offsets.BDay(3))
print(date + pd.offsets.BMonthEnd())

2024-10-21 00:00:00
2024-10-22 00:00:00
2024-10-23 00:00:00
2024-10-31 00:00:00

28. Write a Pandas program to create a period index represent all monthly
boundaries of a given year. Also print start and end time for each period object in
the said index.

In [67]:
year="2024"
period_range = pd.period_range(start=f"{year}-01", end=f"{year}-12", freq='M')

print(period_range)

for period in period_range:
  start_time = period.start_time
  end_time = period.end_time
  print(f"Period: {period}, Start Time: {start_time}, End Time: {end_time}")

PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')
Period: 2024-01, Start Time: 2024-01-01 00:00:00, End Time: 2024-01-31 23:59:59.999999999
Period: 2024-02, Start Time: 2024-02-01 00:00:00, End Time: 2024-02-29 23:59:59.999999999
Period: 2024-03, Start Time: 2024-03-01 00:00:00, End Time: 2024-03-31 23:59:59.999999999
Period: 2024-04, Start Time: 2024-04-01 00:00:00, End Time: 2024-04-30 23:59:59.999999999
Period: 2024-05, Start Time: 2024-05-01 00:00:00, End Time: 2024-05-31 23:59:59.999999999
Period: 2024-06, Start Time: 2024-06-01 00:00:00, End Time: 2024-06-30 23:59:59.999999999
Period: 2024-07, Start Time: 2024-07-01 00:00:00, End Time: 2024-07-31 23:59:59.999999999
Period: 2024-08, Start Time: 2024-08-01 00:00:00, End Time: 2024-08-31 23:59:59.999999999
Period: 2024-09, Start Time: 2024-09-01 00:00:00, End Time: 2024-09-30 23:59:59.999999999
Period: 2024-10, Start Time: 2024-10-01 00:00:00, End Time: 2024-10-31 23:59:59.999999999
Period: 2024-11, Start Time: 2024-11-01 00:00:00, End Time: 2024-11-30 23:59:59.999999999
Period: 2024-12, Start Time: 2024-12-01 00:00:00, End Time: 2024-12-31 23:59:59.999999999

29. Write a Pandas program create a series with a PeriodIndex which represents
all the calendar month periods in 2029 and 2031. Also print the values for all
periods in 2030.
Note: PeriodIndex is an immutable ndarray holding ordinal values indicating
regular periods in time such as particular years, quarters, months, etc.

In [76]:
start_year = "2029"
end_year = "2031"

period_range = pd.period_range(start=f"{start_year}-01", end=f"{end_year}-12", freq='M')

data = np.random.randint(1,100,len(period_range))

series = pd.Series(data, index=period_range)

print("All calender month periods in 2029-2031")
print(series)

print("Values for all periods in 2030")
print(series["2030-01" : "2030-12"])

All calender month periods in 2029-2031
2029-01    71
2029-02    38
2029-03    85
2029-04    51
2029-05    78
2029-06    97
2029-07    44
2029-08    54
2029-09    55
2029-10    10
2029-11    77
2029-12    77
2030-01    69
2030-02    79
2030-03    27
2030-04    32
2030-05    30
2030-06    54
2030-07    98
2030-08     7
2030-09    94
2030-10    67
2030-11    49
2030-12    97
2031-01    34
2031-02     7
2031-03    58
2031-04     5
2031-05    70
2031-06    35
2031-07    13
2031-08    89
2031-09    15
2031-10     3
2031-11    80
2031-12    36
Freq: M, dtype: int64
Values for all periods in 2030
2030-01    69
2030-02    79
2030-03    27
2030-04    32
2030-05    30
2030-06    54
2030-07    98
2030-08     7
2030-09    94
2030-10    67
2030-11    49
2030-12    97
Freq: M, dtype: int64

30. Write a Pandas program to generate holidays between two dates using the
US federal holiday calendar.

In [77]:
from pandas.tseries.holiday import USFederalHolidayCalendar
date_range = pd.date_range(start="2023-01-01", end="2023-12-31")
us_calender = USFederalHolidayCalendar()
holiday_list = us_calender.holidays(start = date_range.min(), end = date_range.max())
holiday_list

DatetimeIndex(['2023-01-02', '2023-01-16', '2023-02-20', '2023-05-29',
               '2023-06-19', '2023-07-04', '2023-09-04', '2023-10-09',
               '2023-11-10', '2023-11-23', '2023-12-25'],
              dtype='datetime64[ns]', freq=None)

31. Write a Pandas program to create a monthly time period and display the list
of names in the current local scope.

In [84]:
time_period = pd.Period('2024-11','M')
print("Monthly time perid: ",time_period)
print("\nList of names in the current local scope:")
print(dir(time_period))

Monthly time perid:  2024-11

List of names in the current local scope:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

32. Write a Pandas program to create a yearly time period from a specified year
and display the properties of this period.

In [85]:
time_period = pd.Period('2024',freq='Y')

print("Yearly Time Period:", time_period)
print("Start Time:", time_period.start_time)
print("End Time:", time_period.end_time)
print("Frequency:", time_period.freq)
print("Period as Timestamp:", time_period.to_timestamp())

Yearly Time Period: 2024
Start Time: 2024-01-01 00:00:00
End Time: 2024-12-31 23:59:59.999999999
Frequency: <YearEnd: month=12>
Period as Timestamp: 2024-01-01 00:00:00