In [1]:
import re

# Finding and Replacing pattern

### Write a python script to find and replace all occurrences of dates in the format yyyy-mm-dd with dd/mm/yyyy.

In [2]:
text = """
On 2023-05-17, Emily embarked on a journey to Europe, marking the start of an unforgettable adventure. 
She landed in Paris on 2023-05-18, eager to explore the City of Lights. By 2023-05-20, she had visited the 
Eiffel Tower, the Louvre, and strolled along the Seine River. Her next destination was Rome, where she 
arrived on 2023-05-22. The ancient ruins of the Colosseum and the Roman Forum left her in awe on 2023-05-23. 
Emily then traveled to Athens on 2023-05-25, where the Acropolis and Parthenon took her breath away. She 
spent several days immersing herself in Greek culture, before heading to her final destination, Barcelona, 
on 2023-05-30. Here, she marveled at Gaudí's masterpieces and enjoyed the vibrant atmosphere of La Rambla. 
Her journey concluded on 2023-06-02 when she returned home, filled with memories of an extraordinary trip. 
Looking back, Emily realized that each city had left an indelible mark on her, and she was already planning 
her next adventure for 2024-07-15.
"""

In [10]:
find_type = r"(\d{4})\-(1[0-2]|0[1-9])\-(3[0-1]|[1-2][0-9]|0[1-9])"
def replace(match):
    year = match.group(1)
    month = match.group(2)
    day = match.group(3)
    return f"{day}/{month}/{year}"
    
out = re.sub(find_type, replace_type, text)
print(out)

On 17/05/2023, Emily embarked on a journey to Europe, marking the start of an unforgettable adventure.
She landed in Paris on 18/05/2023, eager to explore the City of Lights. By 20/05/2023, she had visited the
Eiffel Tower, the Louvre, and strolled along the Seine River. Her next destination was Rome, where she
arrived on 22/05/2023. The ancient ruins of the Colosseum and the Roman Forum left her in awe on 23/05/2023.
Emily then traveled to Athens on 25/05/2023, where the Acropolis and Parthenon took her breath away. She
spent several days immersing herself in Greek culture, before heading to her final destination, Barcelona,
on 30/05/2023. Here, she marveled at Gaudí's masterpieces and enjoyed the vibrant atmosphere of La Rambla.
Her journey concluded on 02/06/2023 when she returned home, filled with memories of an extraordinary trip.
Looking back, Emily realized that each city had left an indelible mark on her, and she was already planning
her next adventure for 15/07/2024.